.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  height: 32px;
  width: fit-content;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  background: var(--accent-light-default);
  color: var(--text-default);

  svg {
    font-size: 14px;
    color: var(--icon-default);
  }

  &:hover {
    background: var(--accent-light-hover);
  }
}

.secondary {
  @extend .primary;
  background: transparent;
  border: 1px solid var(--border-strong);

  &:hover {
    border: 1px solid var(--accent-light-hover);
  }
}

.destructive {
  @extend .primary;
  color: var(--text-ondark);
  background: var(--background-error-strong);
  border: 1px solid var(--border-error-strong);

  &:hover {
    background: var(--background-error-strong-hover);
    border: 1px solid var(--background-error-strong-hover);
  }

  svg {
    font-size: 14px;
    color: var(--text-ondark);
  }
}

button {

  svg {
    animation: spin 1s infinite linear;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}